
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url(background.jpg);
  background-size: cover;
  background-position: center;
}

header {
  color: white;
  padding: 1em;
  text-align: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
  padding: 1em;
}

.card {
  flex: 1;
  background-color: white;
  max-height: 300px;
  max-width: 900px;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 50px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.styled-button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #096d63;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.styled-button:hover:hover span {
  width: 100%;
}
.styled-button:hover {
  border: none;
}
.styled-button a {
  color: #fff;
  text-decoration: none;
}

.card h2 a{
  font-size:50px;
  text-decoration:none;
  color: #060000;
  text-transform: uppercase;
  list-style: none;
  display:inline-block;
  margin:0 20px;
  position: relative;
}
.card h2 a::after{
  content:'';
  height: 3px;
  width: 0;
  background:#009688;
  position:absolute;
  left:0;
  bottom:-10px;
      transition: 0.5s;


}
.card h2 a:hover::after{
  width:100%;
}